.important-data {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 32px;
}

.price {
  font-size: 24px;
  min-width: max-content;
  display: flex;
  align-items: flex-start;
}

.price-and-benefics {
  display: flex;
  align-items: center;
}

.price-and-benefics:hover {
  cursor: pointer;
}

.line-after-descripcion {
  height: 32px;
}

.item-condition:first-letter {
  text-transform: uppercase;
}

.text-item-descripcion {
  font-size: 18px;
}

.text-item-descripcion:hover {
  cursor: pointer;
}

.float-value-results {
  display: none;
  font-size: 12px;
  margin-top: 0.1rem;
  margin-left: 3px;
}